@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.google.com/specimen/Marck+Script?query=marck#standard-styles');
@import url('https://fonts.google.com/specimen/Poppins?query=popp');

body {
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar-thumb {
  background-color: #660000;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
header {
  height: 100%;
}
main, header {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.introducao {
  float: right;
  width: 450px;
  text-align: justify;
  margin-top: -500px;
  margin-right: 125px;
}
.introducao p {
  color: #D8AE17;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: justify;
}
.introducao h3 {
  color: #D8AE17;
  display: inline;
  font-family: "Italianno", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 90px;
  margin-top: 300px;
  margin-bottom: 20px;

}

#principal {
  background-image: url(imgs/teste1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-principal {
  float: left;
  width: 350px;
  padding: 20px;
}
.menu-principal {
  width: 400px;
}
.menu-principal h2 {
  color: black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.menu-principal a:hover, #vulcanismo
.menu a[href="vulcanismo.html"], #geologia
.menu a[href="geologia.html"], #recordes
.menu a[href="recordes.html"], #creditos
.menu a[href="creditos.html"] {
  color: #660000;
  transform: scale(1.2);
}
.menu-principal a {
  display: block;
  text-align: center;
  font-family: 'Marck Script';
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 55px;
  margin-left: 125px;
  color: #D8AE17;
  border: 2px solid #D8AE17;
  border-radius: 40px;
  width: 200px;
  padding: 8px;
}
